/doc/goibusuari/userinfologic/build
/doc/goibusuari/rest/build
/doc/goibusuari/userinfo/build
/archetype/target
/doc/goibusuari/rest/.settings
/doc/goibusuari/userinfo/.settings
/doc/goibusuari/userinfologic/.settings
/doc/goibusuari/userinfoapp/.settings
/maven-archetype-genapp/3_generat/projectebase
/archetype/check.bat
/archetype/test.bat
