package org.fundaciobit.projectebase.archetype.versio;
/**
* Codi autogenerat a partir del fitxer Versio.java.template.
*/
public interface Versio {
public static final String VERSIO="@project.version@";
}